XML/EXERCICIS XSD 2ª PART/Ejercicio2_A.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="fichas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ficha" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="número" type="xs:string"/>
              <xs:element name="edad" type="xs:integer"/>
              <xs:element name="ciudad" type="xs:string"/>
              <xs:element name="pais" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="numero" type="xs:integer"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>