XML/EXERCICIS XSD 2ª PART/Ejercicio1_B.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="cliente">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="código" type="xsd:integer" use="required">
            <xsd:pattern value="[0-9]{6}"/>
          </xsd:attribute>
          <xsd:attribute name="habitual" type="xsd:boolean" default="false"/>
          <xsd:attribute name="cantidad" type="xsd:decimal" minInclusive="0" maxInclusive="1000"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
