XML/EXERCICIS XSD 2ª PART/Ejercicio1_B.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cliente">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="código" type="xs:integer" use="required">
            <xs:pattern value="[0-9]{6}"/>
          </xs:attribute>
          <xs:attribute name="habitual" type="xs:boolean" default="false"/>
          <xs:attribute name="cantidad" type="xs:decimal" minInclusive="0" maxInclusive="1000"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
